body {
    background: linear-gradient(to bottom, #ffffff, #8a2be2);
    margin: 0;
    height: 900px;
}
h1{
    font-size: 60px;
    color: #8a2be2;
}
h2{
    font-size: 40px;
    color: #8a2be2;
}
.ph12{
    width: 350px;
    height: 250px;

}